.ImageUpload{
    display: flex; 
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}
.progress{
    width: 100%;
}