.post{
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 50px;
}
.post_image{
    width: 100%;
    
   object-fit: contain;
   border-top: 1px solid lightgray;
   border-bottom: 1px solid lightgray;
}
.post_header{
    display:flex;
    align-items: center;
    padding: 20px;
}
.post_avatar{
    margin-right: 10px;
}
.post_form{
    display: flex;
    margin-top: 10px;
}
.post_comment{
  flex:1;
  border: none;
  padding: 8px;
  border-top: 1px solid lightgrey;


}
.Input_comments{
    padding: 20px;
}
.post_button{
  flex:0;
  border:none;
  color: rgb(0, 177, 177);
  background-color: transparent;
  border-top: 1px solid lightgrey;

}